# Ignore node_modules
node_modules/

# Ignore environment variables
.env
server/time-tracker/env/

# Ignore logs
*.log
.vscode

# Ignore Redis database files
*.rdb
.env

server/time-tracker/time_tracker/settings.py